@import "../../common.scss";

.imagine_sec2,
.grow_sec2,
.break_sec2,
.create_sec2 {
  .imagine_row {
    // background-color: #fbf7f3;
    .imagine_col {
      padding: 0;
    }
    .imagine_finalist_details {
      background-color: #fbf7f3;
      height: 100%;
      // padding: 6.6875em 4.41125em 10.8125em 6.375em;
      padding: 2em 4.41125em 2em 5.375em;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .finalist_name {
      color: #1e3c4e;
      text-align: center;
      // font-size: 1.75em;
      font-size: 2.125em;
      font-style: normal;
      font-weight: 400;
      // letter-spacing: 0.07px;
      line-height: 1.15;
      // line-height: 1.35714;
      text-transform: uppercase;
    }
    .finalist_desg {
      color: #1e3c4e;
      text-align: center;
      // font-family: "GT America Mono";
      // font-size: 0.8125em;
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
      // line-height: 1.69231;
      text-transform: uppercase;
      margin-top: 0.3125em;
      // margin-top: 0.9230769230769231em;
    }
    .finalist_desc {
      color: #1e3c4e;
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.55;
      // margin: 5.75em 0 0;
      margin: 3.8125em 0 0;
      text-align: center;
    }
    .finalist_btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.125em;
      // margin-top: 6.375em;
      margin-top: 3.8125em;
    }
    .website_btn_wrapper {
      width: 100%;
      // max-width: 8.6875em;
      max-width: 9em;
      .project-button {
        border: 1.5px solid #1e3c4e;
        background-color: transparent;
        // padding: 0.353em;
        padding: 0.7em 0.5em;
        color: #1e3c4e;
        &:hover {
          color: #fbf7f3;
        }
      }
      .project-button.coral-color {
        &:hover {
          background-color: #ff6b20;
          border: 1.5px solid #ff6b20;
        }
        &::before {
          background-color: #ff6b20;
        }
        &::after {
          background-color: #ff6b20;
        }
      }
      .project-button.blue-color {
        &:hover {
          background-color: #9fa6d4;
          border: 1.5px solid #9fa6d4;
        }
        &::before {
          background-color: #9fa6d4;
        }
        &::after {
          background-color: #9fa6d4;
        }
      }
      .project-button.turqoise-color {
        &:hover {
          background-color: #29afce;
          border: 1.5px solid #29afce;
        }
        &::before {
          background-color: #29afce;
        }
        &::after {
          background-color: #29afce;
        }
      }
      .project-button.yellow-color {
        &:hover {
          background-color: #fdbc00;
          border: 1.5px solid #fdbc00;
        }
        &::before {
          background-color: #fdbc00;
        }
        &::after {
          background-color: #fdbc00;
        }
      }
    }
    .imagine_finalist_image {
      height: 100%;
    }
    .finalist_img {
      width: 100%;
      // max-width: 44.333125em;
      max-width: 100%;
    }
  }
}
