@import "../../../common.scss";

.todo_Sec1 {
  position: relative;
  //   margin: 12em 0 2em;
  padding: 15em 0 2em;
  margin-bottom: 7em;
  height: 100vh;
  .todo_container {
    background-color: #e91e63;
    border-radius: 11px;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3em 5em 3em;
    .input_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3em;
    }
    .heading {
      color: #1976d2;
      font-size: 2.5em;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      text-transform: capitalize;
      background-color: #fff;
      border-radius: 11px;
    }
    .input_field {
      font-size: 1.75em;
      font-weight: 600;
      border: none;
      border-bottom: 5px solid #1976d2;
      border-radius: 11px;
      padding: 0.5em 1em 0.5em;
    }
    .input_btn {
      position: relative;
      color: #fff;
      font-size: 3em;
      font-weight: 600;
      border: none;
      background: #1976d2;
      border-radius: 50%;
      width: 1.25em;
      height: 1.25em;
      margin-left: 1em;
      transition: 0.2s ease all;
      &::before {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: #20bf6b;
        box-shadow: 0px 3px 6px #20bf6b;
      }
    }
    .list_container {
      margin: 2em 0 0;
      padding: 0;
      li {
        color: #fff;
        font-size: 1.75em;
        font-weight: 600;
        text-align: left;
        text-transform: capitalize;
        // margin-bottom: 1em;
        // &:last-child {
        //   margin-bottom: 0;
        // }
      }
      .list_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;  
        }
      }
      .delete_btn {
        position: relative;
        color: #fff;
        font-size: 2em;
        font-weight: 500;
        border: none;
        background: #1976d2;
        border-radius: 50%;
        width: 1.1em;
        height: 1.1em;
        margin-left: 2em;
        transition: 0.2s ease all;
        &::before {
          content: "x";
          position: absolute;
          top: 46%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
            color: #e91e63;
          background-color: #fff;
          box-shadow: 0px 3px 6px #e91e63;
        }
      }
    }
  }
}
